@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-950;
  }
  h1 {
    @apply text-4xl md:text-6xl font-bold leading-normal;
  }
  h2 {
    @apply text-3xl md:text-4xl font-bold leading-normal;
  }
  p {
    @apply text-base md:text-lg leading-normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.header {
  font-family: "Work Sans", sans-serif;
}

p,
button,
span {
  font-family: Inter;
}

.cool-underline {
  position: relative;
  display: inline-block;
}

.cool-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f9a8d4;
  margin-top: 0.5rem;
  position: absolute;
  left: 0;
  bottom: -0.1rem;
}
